/* paleta de colores pastel
  rosado #ff9aa2
  naranja #ffdac1
  verde-cian #b5ead7
  morado #daa2f6
  azul #bbc7f7
 */
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url(https://i.pinimg.com/originals/c4/7c/fe/c47cfe0e2434240e3b6aa3e3586ed152.png);
}
.menu{
  width: 100vw;
  height: 10vh;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 1;
  background: #daa2f6;
}
.inicio{
  display: flex;
  align-items: center;
  justify-content: center;
}
.iniciobtn{
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
  background-color: #daa2f6;
  color: white;
  border: none;
  cursor: pointer;
}
.iniciobtn:hover{
  background-color: #ff9aa2;
}
.articulop{
  display: flex;
  align-items: center;
  justify-content: center;
}
.articulobtn{
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 3;
  background-color: #daa2f6;
  color: white;
  border: none;
  cursor: pointer ;
}
.articulobtn:hover{
  background-color: #ff9aa2;
}
.peluditos{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.peluditobtn{
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 3;
  grid-column-end: 4;
  background-color: #daa2f6;
  color: white;
  border: none;
  cursor: pointer ;
}
.peluditobtn:hover{
  background-color: #ff9aa2;
}
.isesion{
  display: flex;
  align-items: center;
  justify-content: center;

}
.isbtn{
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 4;
  grid-column-end: 5;
  background-color: #daa2f6;
  color: white;
  border: none;
  cursor: pointer ;
  }
  .isbtn:hover{
  background-color: #ff9aa2;
  }

.crear{
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 4;
  grid-column-end: 5;
  background-color: #daa2f6;
  color: white;
  border: none;
  cursor: pointer ;
  }
  .crear:hover{
  background-color: #ff9aa2;
  }
.centro{
  width: 100vw;
  height: 150vh;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 6;
  /* background: blue; */
}
.centroarriba{
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 5;
  /* background: white; */
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.art1{
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
  border-style: outset;
  border-width: 10px;
  background-image: url(https://thumbs.dreamstime.com/b/el-color-en-colores-pastel-agita-fondo-para-powerpoint-124019697.jpg);
}
.art2{
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
  /* background: pink; */
}
.carrete{
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 3;
  grid-column-end: 5;
  /* background: purple; */
}
.centroabajo{
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 1;
  grid-column-end: 5;
  /* background: white; */
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
}
.formulario{
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 1;
  grid-column-end: 3;
  /* background: green; */
}
.porque{
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 3;
  grid-column-end: 4;
  background-image: url(https://thumbs.dreamstime.com/b/el-color-en-colores-pastel-agita-fondo-para-powerpoint-124019722.jpg);
  }
  .como{
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 4;
    grid-column-end: 5;
    /* background: red; */
    }
.contacto{
  grid-row-start: 7;
  grid-row-end: 8;
  grid-column-start: 1;
  grid-column-end: 5;
  /* background: white; */
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
}
.siguenos{
  grid-row-start: 7;
  grid-row-end: 8;
  grid-column-start: 1;
  grid-column-end: 2;
  /* background: red; */
}
.insta{
  grid-row-start: 7;
  grid-row-end: 8;
  grid-column-start: 2;
  grid-column-end: 3;
  /* background: red; */
}
.fb{
  grid-row-start: 7;
  grid-row-end: 8;
  grid-column-start: 4;
  grid-column-end: 5;
  /* background: red; */
}
