body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: white;
}
.menu{
  width: 100vw;
  height: 10vh;
  display: grid;
  grid-template-columns: 4;
  grid-template-rows: 1;
  background: blue;
}
.inicio{
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
  background: green;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}
.casa{
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
.articulop{
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 3;
  background: red;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.collar{
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
.peluditos{
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 3;
  grid-column-end: 4;
  background: green;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.pg{
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
.isecion{
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 4;
  grid-column-end: 5;
  background: white;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.centro{
  width: 100vw;
  height: 150vh;
  display: grid;
  grid-template-columns: 4;
  grid-template-rows: 6;
  background: blue;
}
.centroarriba{
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 5;
  background: white;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.art1{
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
  background: green;
}
.art2{
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
  background: pink;
}
.carrete{
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 3;
  grid-column-end: 5;
  background: purple;
}
.centroabajo{
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 1;
  grid-column-end: 5;
  background: white;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
}
.formulario{
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 1;
  grid-column-end: 3;
  background: green;
}
.porque{
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 3;
  grid-column-end: 4;
  background: red;
  }
  .como{
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 4;
    grid-column-end: 5;
    background: red;
    }
.contacto{
  grid-row-start: 7;
  grid-row-end: 8;
  grid-column-start: 1;
  grid-column-end: 5;
  background: white;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
}
.siguenos{
  grid-row-start: 7;
  grid-row-end: 8;
  grid-column-start: 1;
  grid-column-end: 2;
  background: red;
}
.insta{
  grid-row-start: 7;
  grid-row-end: 8;
  grid-column-start: 2;
  grid-column-end: 3;
  background: red;
}
.fb{
  grid-row-start: 7;
  grid-row-end: 8;
  grid-column-start: 4;
  grid-column-end: 5;
  background: red;
}

